.zig-cache/
zig-out/
test_main
libbarrier.a
libpause.a
tools/test_prodder
/lib/processor/bat_processor/__pycache__
.rosette/
librosette_window.a
snake_game
app_testing/basic_snake/window_entry
window_main.o
cout_bridge.o
*.o
*.host
*.log
*.a
/build/.zig-global-cache
rosette_exe_runner
/.zig-global-cache
/.clang-module-cache
build/layout.ll
build/test_layout_export.ll
build/__.SYMDEF
artifacts/dll-unpacked/
zig-out
app_testing/tetrisx86/tetrisx86
app_testing/tetrisx86_win32/tetrisx86_win32
rosette_exe_runner
/program/app
/program/installer
/program/uninstaller
app/bundling/app_image/install_rosette_app_icon.icns
app/bundling/app_image/rosette_app_icon.icns
/app_testing/Text-Wrangler
/zig-cache
/test/Internal_Assembly/x86-64-Ast05-main
/test/Internal_Assembly/x86-64-Ast01-main
/.zig-cache-codex
/.zig-global-cache-codex
/test/Internal_Assembly/x86-64-Ast02-main
/test/Internal_Assembly/x86-64-Ast03-main
/test/Internal_Assembly/x86-64-Ast04
/app_testing/xenia
/build/.zig-cache-app
/build/.zig-cache-app2
/build/.zig-cache-bundle-env
/build/.zig-cache-direct
/build/.zig-cache-env
